@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--main-00: #171110;
	--main-05: #38282a;
	--main-10: #3a2e30;
	--neutral-00: #fff;
	--neutral-05: #f7f7f7;
	--neutral-15: #7c7c6f;
}
body {
	background-color: var(--main-00);
}

.border-top-radius-none {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.border-bottom-radius-none {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.loading-gradient {
	animation-duration: 1.8s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background: #f6f7f8;
	background: linear-gradient(
		90deg,
		rgba(250, 250, 250, 1) 0%,
		rgba(217, 217, 217, 1) 40%,
		rgba(217, 217, 217, 1) 60%,
		rgba(250, 250, 250, 1) 100%
	);
	background-size: 1000px 640px;
	position: relative;
}

.progress_bar_area {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.progress_bar_area .progress_bar {
	width: 100%;
	height: 40px;
	background-color: transparent;
	border: 1px solid var(--main-05);
	border-radius: 0.5rem;
	overflow: hidden;
	position: relative;
}

.progress_bar_area .progress_bar .progress {
	width: 0;
	height: 100%;
	background-color: var(--main-05);
}

.progress_bar_area .progress_bar .progress_text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--neutral-05);
}

@keyframes placeHolderShimmer {
	0% {
		background-position: -468px 0;
	}
	100% {
		background-position: 468px 0;
	}
}
